body {
    background-color: #121212;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.menu {
    font-size: 3em;
    text-align: center;
    margin-top: 10vh;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row1 img {
    margin: 1%;
}

h1 {
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    flex-direction: row;
}

h2 {
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -1.5vh;
}

h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
}

h5 a {
    text-decoration: none;
    color: #fff;
}

h5 a:hover {
    color: #e8cc66
}

img {
    width: 40vw;
    justify-content: center;
}

h1:hover {
    color: #e8cc66;
}

p {
    margin-top: 10vh;

    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.menu a {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10vh;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.slides-wrapper {
display: flex;
flex-direction: row;
}

.menu a:hover {
    color: #e8cc66;
}

.deta {
    margin-top: 10vh;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 200ms ease 20ms;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
  -webkit-transition: 200ms ease 20ms;
  -moz-transition: 200ms ease 20ms;
  transition: 200ms ease 20ms;
  transform: scale(1.05);
}

h3 {
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
}

.gror1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 4vw;
    text-transform: uppercase;
}

.gror1 div {
    margin-left: 1vw;
    margin-right: 1vw;
}

.gror2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 4vw;
    text-transform: uppercase;
}

.gror2 div {
    color: greenyellow;
    margin-left: 1vw;
    margin-right: 1vw;
}

.grot .SRM {
    color: red;
}

.grot .SBM {
    color: red;
}

.grot .SRL {
    color: red;
}

.grot .ZXL {
    color: red;
}

@media only screen and (max-width: 1300px) {

    .menu {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-size: 2em;
        text-align: center;
        width: 100vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .menu a {
        margin: 0;
        margin-bottom: 3vh;
        
        text-decoration: solid;
        color: #fff;
        text-transform: uppercase;
    }

    h2 {
       font-size: 3em;
    }

    h5 {
        
    }

    .slideshow-container {
        max-width: 90%;
        position: relative;
        margin: auto;
      }

      .sep{
        display: none;
    }
}