body {
    background-color: #121212;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    background: url(imgs/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    font-size: 4vw;
    text-align: center;
    margin-top: 10vh;
}

.title {
    background: linear-gradient(to left, #66ffff 0%, #ff66ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.entry {
    font-size: 3em;
    text-align: center;
    margin-top: 10vh;
}

h1 {
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    flex-direction: row;
}

h2 {
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -5%;
    margin-top: 25vh;
}



img {
    width: 30vw;
    justify-content: center;
}

h1:not(:hover) {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 100ms ease 20ms;
    -moz-transition: 100ms ease 20ms;
    transition: 100ms ease 20ms;
    transform: scale(1.05);
}

p {
    margin-top: 10vh;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

a {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10vh;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

a:hover {
    color: #e8cc66;
    -webkit-transition: 200ms ease 20ms;
    -moz-transition: 200ms ease 20ms;
    transition: 200ms ease 20ms;
    transform: scale(1.05);
}
